.half-block {
	width: 50%;

	justify-self: flex-end;
	//background: #000;

	@include min-screen(1150px) {
		&:first-child {
			padding-right: get-margin(medium);
		}
		&:last-child {
			padding-left: get-margin(medium);
		}
	}

	@include max-screen(1150px) {
		width: 80%;
		padding: 0 !important;
	}
	@include max-screen(950px) {
		width: 100%;
		padding: 0 !important;
	}
}